<div class="container" style="padding-top: 20px">

<div class="col-md-8">
    <div class="row">
    <h3>Link Your Alexa login with Your Starcounter Alexa App</h3>

    <div class="alert alert-info">

        <ul>
            <li>Install the Alexa app on Your Starcounter system</li>
            <li>Goto http://your.starcounter.server/Alexa
            <li>Copy the Alexa "skill token" and paste it in below</li>
        </ul>
    </div>
    </div>
    <div class="row">

        <label>
            Paste Your StarCounter Alexa App's "skill token":
            <input ng-model="scapp_token" class="form-control">
        </label>

        <button class="btn btn-success" ng-click="link()">Link</button>

    </div>
</div>
</div>
