<!DOCTYPE html>
<html ng-app="alexor">
<head lang="en">
    <base href="/">
    <meta charset="utf-8"/>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <title>We Are Alexor</title>

    <script src="/static/js/jquery-2.1.1.js" charset="utf-8"></script>
    <script src="/static/js/angular.js"></script>
    <script src="/static/js/angular-sortable.js"></script>
    <script src="/static/js/angular-ui-router.js"></script>
    <script src="/static/js/angular-animate.js"></script>
    <script src="/static/js/angular-sanitize.js"></script>
    <script src="/static/js/angular-localstorage.js"></script>
    <script src="/static/js/angular-colorpicker.js"></script>
    <script src="/static/js/angular-strap.js"></script>
    <script src="/static/js/angular-strap-tmpl.min.js"></script>
    <script src="/static/js/angular-confirm.min.js"></script>
    <script src="/static/js/angular-event-dispatcher.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/jquery-ui.js"></script>
    <script src="/static/js/moment.js"></script>
    <script src="/static/js/angular-moment.js"></script>
    <script src="/static/js/angular-bootstrap-toggle.js"></script>
    <script src="/static/js/ui-bootstrap-tpls-2.3.0.js"></script>
    <script src="/static/js/jstree.js" charset="utf-8"></script>
    <script src="/static/js/ngjstree.js"></script>
    <script src="/static/js/select.js"></script>
    <script src="/static/js/angular-breadcrumb.js" charset="utf-8"></script>
    <script src="/static/js/bootstrap-ui-datetime-picker.js" charset="utf-8"></script>

    <script src="/static/app/alexor.js?{{version}}"></script>
    <script src="/static/app/views/index.js?{{version}}"></script>
    <script src="/static/app/views/link.js?{{version}}"></script>
    <script src="/static/app/views/policy.js?{{version}}"></script>

    <link rel="stylesheet" href="/static/css/jstree/themes/default/style.min.css">
    <link rel="stylesheet" href="/static/css/font-awesome.css">
    <link rel="stylesheet" href="/static/css/colorpicker.css">
    <link rel="stylesheet" href="/static/css/ui-select.css">
    <link rel="stylesheet" href="/static/css/angular-motion.css">
    <link rel="stylesheet" href="/static/js/angular-bootstrap-toggle.css">
    <link rel="stylesheet" href="/static/js/angular-confirm.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/bootstrap-additions.css">
    <link rel="stylesheet" href="/static/css/select.css">


    <!--<link rel="stylesheet" href="/static/css/bootstrap-theme.css">-->

    <link rel="stylesheet" href="/static/css/alexor.css?{{version}}">


    {% block head %}
    {% endblock %}

</head>

<body>

    {% block body %}
    {% endblock %}

</body>
</html>
