{% extends "base.html" %}

{% block head %}
    <script>
        angular.module('alexor.constants',[])
        .constant('$site',{
            version: '{{version}}',
            siteurl: '{{request.url_root}}'
        })
        .constant('$currentUser', {{ current_user | tojson }})
        ;

    </script>

{% endblock %}
{% block body %}

    <div ui-view></div>

{% endblock %}
